name: Debugging

on:
  workflow_dispatch:
    inputs:
      triggered_by:
        description: "Triggered by Telegram"
        required: false
        default: "bot"

jobs:
  tmate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
  
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      
      
